{% extends "base.html.twig" %}

{% block title %}Liste des passagers{% endblock %}

{% block body %}
<h1>Liste des passagers</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Passeport</th>
    </tr>
    {% for passenger in passengers %}
        <tr>
            <td>{{ passenger.id }}</td>
            <td>{{ passenger.lastName }}</td>
            <td>{{ passenger.firstName }}</td>
            <td>{{ passenger.passportNumber }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">Aucun passager</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
