<nav class="header">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">{{name}}</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li class="{% if app.request.attributes.get('_route') == 'addition_index' %}active{% endif %}">
				<a href="{{path('addition_index')}}">Addition</a>
			</li>
			<li class="{% if app.request.attributes.get('_route') == 'multiplication_index' %}active{% endif %}">
				<a href="{{path('multiplication_index')}}">Multiplication</a>
			</li>
		</ul>
	</div>
</nav>
