{% extends "base.html.twig" %}

{% block title %}Ajout d'un avion{% endblock %}

{% block body %}
<a href="{{ path('aircraft_index') }}">Retour</a>
<h1>Ajouter un avion</h1>
{{ include('aircraft/_form.html.twig', {'button_label': 'Ajouter'}) }}
{% endblock %}
