{% extends "base.html.twig" %}

{% block title %}Modifier un avion{% endblock %}

{% block body %}
<a href="{{ path('aircraft_index') }}">Retour</a>
<h1>Modifier un avion</h1>
{{ include('aircraft/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
